<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Science</title>
    <link rel="stylesheet" type ="text/css"  href="{{url_for('static', filename='css/home.css')}}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Timmy's Data Science Application Website</h1>
        <h2>Navigate to:</h2>
        <a href="/hkweather">Weather Forecast in Hong Kong</a>
        <a href="/footballnews">Latest News in Football</a>
        <a href="/nike">Nike Products Price Tracker</a>
    </div>
</body>
</html>