<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football News in SCMP</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/news.css')}}">
</head>
<body>
    <header>
        <h1>Football News in SCMP</h1>
    </header>
    <div class="header-margin"></div>
    <div class="search-container">
        <input type="text" id="search-box" onkeyup="filterNews()" placeholder="Search for news titles...">
    </div>
    <div class="news-list">
        {% for i in range(news_dict.title|length) %}
        <div class="news-card">
            <div>
                <div class="news-title">{{ news_dict.title[i] }}</div>
                <div class="news-date">
                  {{ news_dict.pubDate[i] }}
                </div>
                <div class="news-desc">{{ news_dict.description[i] }}</div>
            </div>
            <div class="news-actions">
                <a class="action-btn" href="{{ news_dict.link[i] }}" target="_blank">Read More</a>
                <button class="action-btn" onclick='speakTitle({{ (news_dict.title[i] + news_dict.description[i])|tojson }})'>Speak Title</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/news.js')}}"></script>

</body>
</html>