<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike Shoes</title>
    <link rel="stylesheet" type ="text/css"  href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
   <h1>Nike Shoes Category</h1>

    <table>
        <tr>
            <th>Man</th>
            <th>Woman</th>
            <th>Kid</th>
        </tr>
        <tr>
            <td><a href="/nike/man/running">Running</a></td>
            <td><a href="/nike/woman/running">Running</a></td>
            <td><a href="/nike/kid/running">Running</a></td>
        </tr>
        <tr>
            <td><a href="/nike/man/jordan">Jordan</a></td>
            <td><a href="/nike/woman/jordan">Jordan</a></td>
            <td><a href="/nike/kid/jordan">Jordan</a></td>
        </tr>
        <tr>
            <td><a href="/nike/man/actionsports">ActionSports</a></td>
            <td><a href="/nike/woman/actionsports">ActionSports</a></td>
        </tr>
        <tr>
            <td><a href="/nike/man/lifestyle">Lifestyle</a></td>
            <td><a href="/nike/woman/lifestyle">Lifestyle</a></td>
            <td><a href="/nike/kid/lifestyle">Lifestyle</a></td>
        </tr>
        <tr>
            <td><a href="/nike/man/soccer">Football</a></td>
            <td><a href="/nike/woman/soccer">Football</a></td>
            <td><a href="/nike/kid/soccer">Football</a></td>
        </tr>
        <tr>
            <td><a href="/nike/man/training">Training</a></td>
            <td><a href="/nike/woman/training">Training</a></td>
        </tr>
        <tr>
            <td><a href="/nike/man/basketball">Basketball</a></td>
            <td><a href="/nike/woman/basketball">Basketball</a></td>
            <td><a href="/nike/kid/basketball">Basketball</a></td>
        </tr>
        <tr>
            <td><a href="/nike/man/slippers_sandals">Slippers or Sandals</a></td>
            <td><a href="/nike/woman/slippers_sandals">Slippers or Sandals</a></td>
        </tr>
        <tr>
            <td><a href="/nike/man/nike_dunk">Nike Dunk</a></td>
            <td><a href="/nike/woman/nike_dunk">Nike Dunk</a></td>
        </tr>
        <tr>
            <td><a href="/nike/man/airforce1">Air Force 1</a></td>
            <td><a href="/nike/woman/airforce1">Air Force 1</a></td>
        </tr>
        <tr>
            <td><a href="/nike/man/zoom_zoomx">Zoom and ZoomX</a></td>
            <td><a href="/nike/woman/zoom_zoomx">Zoom and ZoomX</a></td>
        </tr>
        <tr>
            <td><a href="/nike/man/retro_run">Retro Run</a></td>
            <td><a href="/nike/woman/retro_run">Retro Run</a></td>
        </tr>
        <tr>
            <td><a href="/nike/man/air_max_collection">Air Max</a></td>
            <td><a href="/nike/woman/air_max_collection">Air Max</a></td>
        </tr>
    </table>

</body>
</html>