<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike Products</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/nike.css')}}">
</head>
<body>
    <h1>Nike {{ category }} Shoes Price</h1>
    <table id="productTable">
        <thead>
            <tr>
                <th>Name</th>
                <th onclick="sortTable()">Price &#x25B2;&#x25BC;</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(product_dict.name|length) %}
                <tr>
                    <td>{{ product_dict.name[i] }}</td>
                    <td>${{ product_dict.price[i] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" src="{{url_for('static', filename='js/nikescript.js')}}"></script>
</body>
</html>