<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike Products</title>
    <link rel="stylesheet" type ="text/css"  href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Nike Products</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        {% for i in range(product_dict.name|length) %}
            <tr>
                <td>{{ product_dict.name[i] }}</td>
                <td>${{ product_dict.price[i] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>